.home{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: seashell;
    background-image: linear-gradient(45deg, seashell, rgb(248, 232, 226));
    
}