.navv{
    margin-left: 200px;
}
.link{
    margin: 10px;
    padding:10px;
    text-decoration:none;
    color: black;
}
.loggedInUser{
    background-color: seashell;
    background-image:linear-gradient(45deg, seashell, lightsalmon);
    border-radius: 10px;
    border: 0px;
}
